<% set_meta_tags( og: { image: @web_app.this_ogp.url, url: "https://webappdiary.com/web_apps/#{@web_app.id}" },
                  twitter: { card: "summary_large_image", image: @web_app.this_ogp.url }) %>
<div class="container">
  <div class="bg-white py-6 sm:py-8">
    <h1 class="font-bold text-xl lg:text-2xl px-4 md:px-8" id="bookmark-count"><%= "みんなのブックマーク数：#{@web_app.bookmark_count}" %></h1>
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
      <div class="flex flex-col overflow-hidden rounded-lg bg-gray-200 sm:flex-row md:h-80 shadow-lg">
        <!-- image - start -->
        <div class="order-first h-48 w-full bg-gray-300 sm:order-none sm:h-auto sm:w-1/2 lg:w-2/5">
          <%= image_tag web_app.ogp_image, class: "h-full w-full object-cover object-center border border-gray-300" %>
        </div>
        <!-- image - end -->

        <!-- content - start -->
        <div class="flex w-full flex-col p-4 sm:w-1/2 sm:p-8 lg:w-3/5">
          <h2 class="mb-4 text-xl font-bold text-gray-800 md:text-2xl lg:text-4xl flex items-center justify-between">
            <%= web_app.site_name %>
            <%= render "web_apps/bookmark_button", web_app: web_app %>
          </h2>

          <p class="mb-8 max-w-md text-gray-600"><%= web_app.ogp_description %></p>

          <div class="mt-auto">
            <%= link_to web_app.url, target: "_blank", class: "inline-block rounded-lg bg-white px-8 py-3 text-center text-sm font-semibold text-blue-600 outline-none ring-indigo-300 transition duration-100 hover:bg-gray-100 focus-visible:ring active:bg-gray-200 md:text-base" do %>
              <%= @web_app.url %>
            <% end %>        
          </div>
        </div>
        <!-- content - end -->
      </div>
    </div>
  </div>
  <div class="bg-white pb-6 sm:pb-8 lg:pb-12 px-4 md:px-8">
    <p class="font-bold text-indigo-500">このアプリに登録されているタグ</p>
    <div class="mt-2">
    <% if @unique_tags.present? %>
      <% @unique_tags.each do |tag| %>
        <div class="badge badge-primary"><%= tag.name %></div>
      <% end %>
    <% else %>
      <p class="px-8 text-gray-400 text-xs md:text-base">まだこのWebアプリに登録されているタグはありません。</p>
    <% end %>
  </div>
  </div>
  <div class="flex w-full flex-col gap-2.5 mb-6 sm:flex-row sm:justify-center">
    <%= link_to "https://x.com/share?url=https://www.webappdiary.com/web_apps/#{@web_app.id}&text=【今日体験したWebアプリ】%0a「#{ web_app.site_name }」%0a %231日1アプリ%0a %231日1サービス%0a %23WebAppDiary%0a", target: '_blank',
                class: "flex inline-block rounded-lg bg-blue-400 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-blue-300 transition duration-100 hover:bg-blue-500 focus-visible:ring active:bg-blue-700 md:text-base" do %>
      <%= image_tag "footer_x.jpg", class: "h-8 mr-3" %>
      <span class="self-center whitespace-nowrap">に体験したWebアプリをシェアしよう</span>
    <% end %>
  </div>
  <div class="bg-white py-6 sm:py-8 lg:py-12">
    <%= render "web_apps/review_stars/review", web_app: web_app %>
  </div>
  <div class="bg-white md:px-8 px-4 py-6 sm:py-8 lg:py-12">
    <h1 class="font-bold text-xl lg:text-2xl">みんなの反応</h1>
    <div class="bg-indigo-100 mx-auto max-w-screen-2xl py-4 px-4 md:px-8 rounded-md" id="comments">
      <% if @web_app.reviews.any? { |review| review.comment.present? } %>
        <% @web_app.reviews.each do |review| %>
          <% if review.comment.present? %>
            <div class="chat chat-start py-4" id="comment-<%= review.id %>">
              <div class="chat-image avatar">
                <div class="w-10 rounded-full">
                  <%= image_tag "robot.png" %>
                </div>
              </div>
              <div class="chat-bubble"><%= review.comment %></div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <div id="no-comments-message">
          <p class="py-8">まだコメントはありません。</p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
      <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-8 lg:text-3xl xl:mb-6">トップページのスクリーンショット</h2>
      <p class="mb-4 text-center text-gray-500 md:mb-8 xl:mb-6">※対象のWebアプリの特性上、正しく表示されない場合があります。ご了承願います。</p>
      <div class="w-full h-[720px] overflow-y-scroll border border-gray-300 shadow-lg">
        <%= image_tag web_app.screenshot.url %>
      </div>
    </div>
  </div>
</div>
