<h1><%= @web_app.site_name %></h1>
<h1><%= image_tag @web_app.ogp_image %></h1>
<%= link_to @web_app.url, target: "_blank", class: 'text-blue-600 mt-2 text-lg leading-8' do %>
  <%= @web_app.url %>
<% end %>
<h1><%= @web_app.ogp_description %></h1>
<%= link_to "https://twitter.com/share?url=#{ request.url }&text=【今日のWebアプリ】%0a「#{ @web_app.site_name }」%0a #1日1アプリ%0a #1日1サービス%0a", target: '_blank' do %>
  <button class="btn btn-outline btn-info">twitter share</button>
<% end %>
<% if @review.present? %>
  <div class="stats stats-vertical lg:stats-horizontal shadow">
    <div class="stat">
      <div class="stat-title">オリジナリティ</div>
      <div class="stat-value"><%= @review.originality_score %></div>
    </div>
    <div class="stat">
      <div class="stat-title">ユーザビリティ</div>
      <div class="stat-value"><%= @review.usability_score %></div>
    </div>
    <div class="stat">
      <div class="stat-title">デザイン</div>
      <div class="stat-value"><%= @review.design_score %></div>
    </div>
    <div class="stat">
      <div class="stat-title">コメント</div>
      <div class="stat-value"><%= @review.comment %></div>
    </div>
  </div>
  <%= link_to edit_web_app_review_path(@web_app, @review) do %>
    <button class="btn btn-outline btn-info">編集</button>
  <% end %>
<% elsif user_signed_in? %>
  <%= link_to new_web_app_review_path(@web_app) do %>
    <button class="btn btn-outline btn-info">記録</button>
  <% end %>
<% end %>