<%= render "devise/shared/error_messages", resource: resource %>
<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-8 lg:text-3xl"><%= t('defaults.change_password') %></h2>
    <div class="mx-auto max-w-lg rounded-lg border">
      <div class="flex flex-col gap-4 p-4 md:p-8">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.hidden_field :reset_password_token %>

          <div class="field">
            <%= f.label :password, t('defaults.new_password'), class: "mb-2 inline-block text-sm text-gray-800 sm:text-base" %><br />
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> 文字以上)</em><br />
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, class: "my-2 inline-block text-sm text-gray-800 sm:text-base" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
          </div>

          <div class="actions">
            <%= f.submit t('defaults.change_password'), class: "mt-4 btn btn-outline btn-block" %>
          </div>
        <% end %>
