<%= render "devise/shared/error_messages", resource: resource %>
<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-8 lg:text-3xl"><%= t('defaults.password_reset') %></h2>
    <p class="mb-4 text-center text-gray-500 md:mb-8 xl:mb-6">※LINEログインしている方はこちらの機能はご利用できません。</p>
    <div class="mx-auto max-w-lg rounded-lg border">
      <div class="flex flex-col gap-4 p-4 md:p-8">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <div class="field">
            <%= f.label :email, class: "mb-2 inline-block text-sm text-gray-800 sm:text-base" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
          </div>

          <div class="actions">
            <%= f.submit "リセットメールの申請", class: "mt-4 btn btn-outline btn-block" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
