<% content_for(:title, t('.title')) %>
<div class="mx-6">
  <h1 class="text-xl text-gray-800 py-2 font-zenmaru text-center font-bold"><%= t('.title') %></h1>
  <div class="flex justify-center mt-4">
    <%= form_with(model: @user, url: setting_notify_mypage_path, method: :post, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <div class="my-4 text-center">
        <%= f.label :notify_time, "通知時間" %>
        <%= f.time_select :notify_time, { minute_step: 60, discard_minute: true, default: @user.notify_time || Time.now, ignore_date: true }, class: "border rounded px-3 py-2" %>
      </div>

      <div class="my-4 text-center">
        <%= f.submit "保存", class: "bg-blue-500 text-white px-4 py-2 rounded" %>
      </div>
    <% end %>
  </div>
</div>
