<div class="container">
  <div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      <h2 class="mb-8 text-center text-2xl font-bold text-gray-800 md:mb-12 lg:text-3xl">マイページ</h2>

      <div class="flex justify-center">
        <!-- quote - start -->
        <div class="flex flex-col items-center gap-4 rounded-lg bg-indigo-500 px-8 py-6 md:gap-6 mx-auto lg:min-w-[30%]">
          <div class="items-center gap-2 sm:flex-row md:gap-3">
            <div class="text-center text-sm font-bold text-indigo-50 sm:text-left md:text-base lg:text-3xl"><%= current_user.name %></div>
          </div>
          <% unless current_user.provider == "line" || current_user.guest? %>          
            <div class="max-w-md text-center text-white lg:text-lg"><%= current_user.email %></div>
            <%= link_to t('defaults.edit'), edit_user_registration_path, class: "inline-block rounded-lg bg-gray-200 px-8 py-3 text-center text-sm font-semibold text-gray-500 outline-none ring-indigo-300 transition duration-100 hover:bg-gray-300 focus-visible:ring active:text-gray-700 md:text-base" %>
          <% end %>
        </div>
        <!-- quote - end -->
      </div>
    </div>
  </div>

  <div class="bg-white pb-6 sm:pb-8 lg:pb-12 px-4 md:px-8">
    <p class="font-bold text-indigo-500">あなたが登録したタグ</p>
    <div class="mt-2" id="tags">
      <% if @my_tags.present? %>
        <% @my_tags.each do |tag| %>
            <div class="badge badge-secondary"><%= tag.name %></div>
        <% end %>
      <% else %>
        <p class="px-8 text-gray-400 text-xs md:text-base">登録されているタグはありません。</p>
      <% end %>
    </div>
  </div>

  <%= turbo_frame_tag "calendar" do %>
    <h2 class="my-4 text-center text-xl font-bold text-gray-800 md:mb-6 lg:text-2xl pb-2 border-b-2">記録カレンダー</h2>
    <%= month_calendar(events: @reviews) do |date, reviews| %>
      <%= date.day %>

      <% if date <= Date.today %>
        <% reviews.each do |review| %>
          <div>
            <%= link_to review.web_app.site_name, web_app_path(review.web_app), data: { turbo: false }, class:"text-blue-500" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
