<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-8 lg:text-3xl"><%= t('defaults.login') %></h2>
    <div class="mx-auto max-w-lg rounded-lg border">
      <div class="flex flex-col gap-4 p-4 md:p-8">
        <%= form_with model: @user, url: user_session_path, local: true do |f| %>
          <div class="field">
            <%= f.label :email, class: "mb-2 inline-block text-sm text-gray-800 sm:text-base"%><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
          </div>

          <div class="field">
            <%= f.label :password, class: "my-2 inline-block text-sm text-gray-800 sm:text-base"%><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
          </div>

          <div class="actions">
            <%= f.submit t('defaults.login'), class: "mt-4 btn btn-outline btn-block" %>
          </div>
          <div class="flex items-center justify-center gap-2">
            <%= link_to 'ゲストログインはこちら', users_guest_sign_in_path, data: {turbo_method: :post}, class: "btn btn-xs mt-4" %>
          </div>
        <% end %>
        <div class="relative flex items-center justify-center">
          <span class="absolute inset-x-0 h-px bg-gray-300"></span>
          <span class="relative bg-white px-4 text-sm text-gray-400">Log in with social</span>
        </div>
        <div class="flex items-center justify-center gap-2">
          <%- resource_class.omniauth_providers.each do |provider| %>
            <%= button_to "LINEでログイン", omniauth_authorize_path(resource_name, provider), data: { turbo: false }, class: "rounded-lg bg-green-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-green-300 transition duration-100 hover:bg-green-600 focus-visible:ring active:bg-green-700 md:text-base" %><br />
          <% end %>
        </div>
      </div>
      <div class="flex items-center justify-center bg-gray-100 p-4">
        <%= link_to "新規登録はこちら", new_registration_path(resource_name), class: "link link-info text-center text-sm" %><br />
      </div>
    </div>
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <div class="text-center mt-1">
        <%= link_to "パスワードをお忘れの方はこちら(未実装)", "#", class: "link link-info text-center text-sm" %><br />
      </div>
    <% end %>
  </div>
</div>
