<tr>
  <th><%= web_app.id %></th>
  <td><%= web_app.site_name %></td>
  <td><%= web_app.url %></td>
  <td><%= web_app.offer_date %></td>
  <td><%= web_app.ogp_description %></td>
  <td><%= web_app.ogp_image %></td>
  <td><%= web_app.screenshot.current_path %></td>
</tr>