<div class="flex justify-center mt-4">
  <div class="w-full md:w-1/3">
    <%= form_with model: [@web_app, @review], data: { action: "turbo:submit-end->modal#close" }, class: 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4' do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="mb-4">
        <%= f.label :originality_score, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <% (1..5).each do |score| %>
          <%= f.radio_button :originality_score, score, class: "mr-1" %>
          <%= score %>
        <% end %>
      </div>

      <div class="mb-4">
        <%= f.label :usability_score, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <% (1..5).each do |score| %>
          <%= f.radio_button :usability_score, score, class: "mr-1" %>
          <%= score %>
        <% end %>
      </div>

      <div class="mb-4">
        <%= f.label :design_score, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <% (1..5).each do |score| %>
          <%= f.radio_button :design_score, score, class: "mr-1" %>
          <%= score %>
        <% end %>
      </div>

      <div class="mb-4">
        <%= f.label :comment, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.text_area :comment, placeholder: "参考にしたいポイントなどをコメントしよう（任意）", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div>
        <%= f.label :tag_names, "タグ", class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.text_field :tag_names, value: @tag_list, placeholder: ",で区切ると複数タグ登録できます（任意）", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="mb-6 text-sm text-gray-500">
        ※アプリに登録したタグは、マイページで確認できます。
      </div>

      <div class="flex justify-between items-center mt-4">
        <div class="actions mr-4">
          <%= f.submit t('defaults.review'), class: "bg-cyan-500 hover:bg-cyan-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
        </div>
        <%= link_to t('defaults.cancel'), web_app_path(@web_app), data: { action: "click->modal#closeModal" }, class: "inline-block align-baseline font-bold text-sm text-cyan-500 hover:text-cyan-800" %>
      </div>
    <% end %>
  </div>
</div>