<div class="flex justify-center mt-4">
  <div class="w-full md:w-1/3">
    <%= form_with model: [@web_app, @review], local: true, class: 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4' do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="mb-4">
        <%= f.label :originality_score, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <% (1..5).each do |score| %>
          <%= f.radio_button :originality_score, score, class: "mr-1" %>
          <%= score %>
        <% end %>
      </div>

      <div class="mb-4">
        <%= f.label :usability_score, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <% (1..5).each do |score| %>
          <%= f.radio_button :usability_score, score, class: "mr-1" %>
          <%= score %>
        <% end %>
      </div>

      <div class="mb-4">
        <%= f.label :design_score, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <% (1..5).each do |score| %>
          <%= f.radio_button :design_score, score, class: "mr-1" %>
          <%= score %>
        <% end %>
      </div>

      <div class="mb-6">
        <%= f.label :comment, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.text_area :comment, placeholder: "参考にしたいポイントなどをコメントしよう（任意）", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="actions">
        <%= f.submit t('defaults.review'), class: "bg-cyan-500 hover:bg-cyan-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
    <% end %>
  </div>
</div>